@use 'src/styles/vars';

.interviews {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
}

.interviews::-webkit-scrollbar {
  width: 15px;
}

.interviews::-webkit-scrollbar-track {
  background: #000000;
}

.interviews::-webkit-scrollbar-thumb {
  background-color: vars.$color-primary;
  border: 6px solid #000000;
}