@use 'src/styles/vars';

.about {
  padding-left: 30px;

  &__artists {
    display: flex;
    flex-direction: row;
  }
  
  &__artist {
    &--eliana {
      max-width: 750px;
      padding-right: 90px;
      padding-top: 90px;
    }

    &--sita {
      max-width: 392px;
      border-left: 1px solid #FFFFFF;
      padding-left: 30px;
      padding-top: 200px;
      padding-bottom: 85px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.4;

      &--eliana {
        max-width: 500px;
        columns: 2;
      }
    }
  }

  &__since {
    position: relative;
    min-height: 390px;
    font-family: vars.$font-primary;
    font-size: 29px;
    margin-bottom: 45px;
    
    &__background {
      display: flex;
      flex-direction: row;
      align-items: center;
      z-index: -10;
      position: absolute;
      width: 100%;;
      height: 100%;
      left: -156px;
      background-color: vars.$color-primary;
    }

    &__text {
      padding: 0px 160px 0px 430px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
    
    &__title {
      font-family: vars.$font-primary;
      font-size: 64px;
      font-weight: bold;
    }
    
    &__text {
      font-family: vars.$font-primary;
      max-width: 450px;
      margin-left: 60px;
      padding-top: 106px;

      &__name {
        font-size: 42px;
        font-weight: bold;
        color: vars.$color-primary;
      }

      &__line {
        width: 50px;
        height: 2px;
        margin: 30px 0px;
        background-color: #FFFFFF;
      }

      &__mail {
        font-size: 25px;
        text-decoration: underline;
        transition: 0.2s color;

        &:hover {
          color: vars.$color-secondary;
        }
      }
    }
  }

  &__opencall {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 803px;
    
    &__background {
      z-index: -10;
      position: absolute;
      width: 105%;;
      height: 803px;
      right: 0px;
      background-color: vars.$color-primary;
    }
    
    &__wrapper {
      &__title {
        font-family: vars.$font-primary;
        font-size: 64px;
        padding-bottom: 95px;
        
        &--bold {
          font-weight: bold;
        }
      }
      
      &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        &__icon {
          width: 225px;
          fill: #FFFFFF;
          margin-right: 55px;
        }
    
        &__text {
          font-family: vars.$font-primary;
          font-size: 32px;
          display: flex;
          flex-direction: column;
          max-width: 500px;
          
          &--underline {
            margin: 20px 0px;
          }
    
          & a {
            text-decoration: underline;
            transition: 0.2s color;

            &:hover {
              color: vars.$color-secondary;
            }
          }
        }
      }
    }
  }
}