@use 'src/styles/vars';

.about {
  &__artists {
    display: flex;
    flex-direction: row;
    
  }
  
  &__artist {
    &--eliana {
      max-width: 45%;
      padding: 30px 90px 0px 0px;
    }

    &--sita {
      max-width: 24%;
      border-left: 1px solid #FFFFFF;
      padding: 140px 0px 85px 30px;
    }

    &__text {
      &--eliana {
        max-width: 85%;
        columns: 2;
      }
    }
  }

  &__since {
    z-index: -10;
    position: relative;
    left: -157px;
    font-family: vars.$font-primary;
    font-size: 29px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: vars.$color-primary;
    padding: 100px 200px 100px 40%;
  }

  &__contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
    
    &__text {
      font-family: vars.$font-primary;
      max-width: 450px;
      margin-left: 60px;
      padding-top: 106px;

      &__name {
        font-size: 42px;
        font-weight: bold;
        color: vars.$color-primary;
      }

      &__line {
        width: 50px;
        height: 2px;
        margin: 30px 0px;
        background-color: #FFFFFF;
      }

      &__mail {
        font-size: 25px;
        text-decoration: underline;
        transition: 0.2s color;

        &:hover {
          color: vars.$color-secondary;
        }
      }
    }
  }

  &__opencall {
    // z-index: -10;
    position: relative;
    left: -90px;
    font-size: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: vars.$color-primary;
    padding: 100px 0px 100px 90px;
    width: 105.2%;
    
    &__wrapper {
      &__title {
        margin-bottom: 95px;
        max-width: 650px;
      }
      
      &__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 200px;

        &__icon {
          width: 175px;
          fill: #FFFFFF;
          margin-right: 55px;
        }
    
        &__text {
          font-family: vars.$font-primary;
          display: flex;
          flex-direction: column;
          max-width: 500px;
          
          &--underline {
            margin: 20px 0px;
          }
    
          & a {
            text-decoration: underline;
            transition: 0.2s color;

            &:hover {
              color: vars.$color-secondary;
            }
          }
        }
      }
    }
  }
}