@use 'src/styles/vars';

.navbar {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__item {
      height: 109px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 45px;
      font-size: 18px;

      &__link {
        transition: 0.2s color, font-weight;

        &--active {
          font-weight: bold;
          color: vars.$color-primary;
        }

        &:hover {
          color: vars.$color-primary;
        }
      }

      &--home {
        font-family: 'Spectral', serif;
        font-weight: bold;
        font-size: 34px;
      }
    }
  }
}