.interview-page {
  &__media {
    &__images {
      &__three {
        .interview-page__media__image {
          margin-bottom: 25px;
        }

        &--two {
          display: flex;
          flex-direction: row;

          .interview-page__media__caption { 
            padding: 0px 25px;
          }

          &--column {
            display: flex;
            flex-direction: column;

            .interview-page__media__image {
              // &:first-child {
              //   margin-bottom: 25px;
              // }

              &:last-child {
                margin-left: auto;
                margin-bottom: 0px;
              }
            }
          }
        }
      }
    }
  }
}