.interview-page {
  &__media {
    &__images {
      &__six {
        display: flex;
        flex-direction: row;

        &--column {
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 50%;
          margin-right: 25px;


          .interview-page__media__image {
            &:first-child {
              margin-bottom: 25px;
            }
          }

          .interview-page__media__caption {
            max-width: 80%;
            margin: 25px;
          }

          &--two {
            display: flex;
            flex-direction: column;

            .interview-page__media__image {             
              &:first-child {
                margin-bottom: 25px;
              }
            }
          }
        }
      }
    }
  }
}