@use 'src/styles/vars';

.interview {
  max-width: 222px;
  min-height: 100%;
  margin: 0px 42px;

  // the first one has no margin on the left
  &:first-child {
    margin-left: 0px;
  }

  // and the last child has no margin on the right
  &:last-child {
    margin-right: 0px;
  }

  &--invert {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  &__image {
    background-color: vars.$color-primary;

    & img {
      width: 222px;
      height: 167px;
      transition: 0.2s opacity;
      filter: grayscale(100%);
      
      &:hover {
        filter: grayscale(100%);
        opacity: 0.5;
      }
    }
  }

  &__text {
    padding: 17px 0px;
    font-family: vars.$font-primary;
    transition: 0.2s color;

    &:hover {
      color: vars.$color-primary;
    }

    &__title {
      font-size: 26px;
      font-weight: bold;
    }

    &__location {
      margin-top: 20px;
      font-size: 16px;
    }
  }
}