@use 'src/styles/vars';

.ressources {
  &__title {
    padding-left: 30px;
    margin-bottom: 30px;
  }

  &__list {
    font-family: vars.$font-primary;
    padding-left: 210px;
    max-width: 605px;
    padding-bottom: 130px;
    font-size: 18px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 35px 0px;
    
    &__link {
      color: vars.$color-primary;
      text-decoration: underline;
      transition: 0.2s color;

      &:hover {
        color: vars.$color-secondary;
      }
    }
  }
}